In [9]:
import pandas as pd
import numpy as np
import sklearn

In [ ]:
# calling a dataset from sklearn
from sklearn.datasets import load_boston
df=load_boston()
df

In [ ]:
df.keys()  #displays/returns the keys present in boston dataset dictionay

In [ ]:
df['DESCR']  #info about particular key

In [ ]:
df['target']

In [ ]:
# putting data in tabular form
a=pd.DataFrame(df.data,columns=df.feature_names)
a.head()

In [14]:
#adding a new coloumn for target values as taret is not present in data
a["Price"] =df.target
a.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [15]:
a.isnull()  #checking missing values

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
a.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
Price      0
dtype: int64

In [26]:
#calling a module for splitting the training and testing data
from sklearn.model_selection import train_test_split
x=a.drop('Price',axis=1)
y=a['Price']
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.16,random_state=5)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(425, 13)
(81, 13)
(425,)
(81,)

In [28]:
#calling linear regression model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
model=LinearRegression()

In [29]:
#fitting the training data into the model
c1=model.fit(x_train,y_train)
c1

LinearRegression()

In [31]:
y_train_predict=model.predict(x_train)   #predictions on training data
rmse=np.sqrt(mean_squared_error(y_train,y_train_predict))

print("The model performance on training data")
print("RMSE ={}".format(rmse))

The model performance on training data
RMSE =4.722802721991756

In [33]:
y_test_predict=model.predict(x_test)   #predictions on testing data
rmse=np.sqrt(mean_squared_error(y_test,y_test_predict))

print("The model performance on testing data")
print("RMSE ={}".format(rmse))

The model performance on testing data
RMSE =4.62227092032514